/* Good times */

.App {
  text-align: center;
  color: #2e2e3a;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  margin: 0 1em;
}

.main-title {
  margin: auto;
  font-size: 50px;
  margin: 10px auto;
  padding: 10px;
  line-height: 50px;
  border: 5px dotted silver;
  border-radius: 20px;
}

.title {
  font-size: 20px;
}

.feeling-feed {
  align-self: left;
  padding: 0.4em;
  width: 100%;
  min-width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feeling-feed .title {
  text-align: left;
  margin-bottom: 15px;
}

.feeling-post {
  position: relative;
  width: fit-content;
  display: flex;
  align-items: center;
}

.feeling-post-name {
  position: absolute;
  width: 200px;
  font-size: 14px;
  font-style: italic;
  text-align: right;
}

.feeling-post-date {
  position: absolute;
  font-size: 14px;
  font-style: italic;
  width: 200px;
  text-align: left;
}

.feeling-post-content {
  width: 1.5em;
  height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid silver;
  border-radius: 0.75em;
}

.feeling-post-content img {
  margin: auto!important;
}

.feeling-content img {
  margin: auto!important;
}

.reactions {
  position: absolute;
  top: 0;
  left: 61px;
  padding: 5px;
  min-width: 400px;
  text-align: left;
  border: 1px solid silver;
  border-radius: 5px;
  margin-bottom: 1em;
  background-color: white;
  z-index: 1;
}

.reactions-marker {
  position: absolute;
  top: 19px;
  left: -9px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #6f7d8c;
}

.reaction-level {
  padding: 5px;
}

.feeling-post-title {
  font-size: 20px;
  font-weight: bold;
}

.feeling-content {
  font-weight: bold;
  border: 1px solid #6f7d8c;
  border-radius: 19px;
  background-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  width: 38px;
  cursor: default;
  transition: 0.2s background-color ease;
  position: relative;
  font-size: 26px;
}

.feeling-content:hover {
  background-color: #dedede;
}

.feeling-content.wide {
  width: 2.0em;
}

.feeling-count {
  font-size: 16px;
  margin: 0 0.1rem;
}

.feeling-emoji {
  position: absolute;
  top: 7px;
  height: 26px;
  width: 26px;
  line-height: 26px;
}

.feeling-content.wide .feeling-emoji {
  position: initial;
}

.feeling-content.add {
  font-size: 24px;
  height: 38px;
  width: 38px;
  line-height: 22px;
  padding: 8px;
  z-index: 1;
}

.feeling-content, .feeling-post-content {
  user-select: none;
}

.feeling-post + .feeling-post {
  margin-top: 15px;
}

.feeling-list {
  display: flex;
  align-items: start;
  /*justify-content: space-evenly;*/
  margin-top: 0.2em;
}

.feeling-list.top-level {
  margin-top: 0;
  border: 1px solid silver;
  border-radius: 0.4em;
}

.feeling {
  position: relative;
  width: fit-content;
  text-align: center;
}

.feeling + .feeling {
  margin-left: 0;
}

.feeling.hidden {
  width: 0;
  display: none;
}

.reaction-options {
  position: absolute;
  float: left;
  top: -1px;
  right: 50%;
  height: 38px;
  display: flex;
  align-items: center;
  font-size: 28px;
  border: 1px solid #6f7d8c;
  border-right: none;
  border-radius: 0.4em 0 0 0.4em;
  cursor: default;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s opacity ease, 0.2s visibility ease;
  background-color: #dedede;
  z-index: -2;
}

.reaction-option {
  margin-right: 0;
  margin-left: 0.2em;
  cursor: pointer;
}

.reaction-option:hover {
  text-shadow: 0 0 3px #6f7d8c;
}

.reaction-option:last-child {
  margin-right: calc(19px + 0.2em);
}

.reaction-options.visible {
  visibility: visible;
  opacity: 1;
}

.badge {
  position: absolute;
  bottom: 0px;
  right: -2px;
  font-size: 10px;
  line-height: 12px;
  border: 1px solid #6f7d8c;
  background-color: white;
  color: #6f7d8c;
  font-weight: bold;
  height: 14px;
  width: 14px;
  border-radius: 7px;
  cursor: default;
}

.badge.large {
  height: 20px;
  width: 20px;
  line-height: 18px;
  border-radius: 10px;
}

.login-window {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-window form {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  min-width: 25em;
}

.name-inputs {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

input[type="text"], input[type="password"] {
  border: 1px solid #6f7d8c;
  border-radius: 2px;
  width: 100%;
}

button {
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #6f7d8c;
  border-radius: 4px;
  background-color: #efefef;
  transition-duration: 0.2s;
  padding: 4px 8px;
  outline: none;
}

button:hover {
  background-color: lightgrey;
}

.submit-button {
  margin-top: 1em;
}

.current-user-panel {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-user-panel button {
  margin-top: 0.5em;
}

.reaction-description {
  font-size: 14px;
  font-style: italic;
  border-bottom: 1px solid silver;
  margin-bottom: 5px;
}

.feeling-group {
  position: relative;
  margin: 0 4px;
  display: flex;
}

.feeling-group:nth-last-child(2) {
  margin-right: 8px;
}

.feeling + .feeling {
  margin-left: 8px;
}

.add-new-post {
  display: flex;
  flex-direction: column;
  margin: 1em;
  align-items: center;
}

.new-post-options {
  margin-top: 0.5em;
  display: flex;
}

.new-post-options .feeling-content {
  margin: 0.25em;
}

.path-marker {
  position: absolute;
  left: 14px;
  padding-top: 3px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #6f7d8c;
}

.feedback-button-container {
  position: relative;
  width: fit-content;
}

.feedback-form {
  position: absolute;
  right: 100%;
  top: 0;
  padding: 10px;
  margin-right: 10px;
  margin-top: 0.5em;
  border: 1px solid silver;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 5px silver;
}

.feedback-form textarea {
  resize: none;
  border: 1px solid #6f7d8c;
  border-radius: 2px;
  width: 300px;
  height: 54px;
  outline: none;
}

.delete-post {
  position: absolute;
  top: -1px;
  right: -1px;
  font-weight: bold;
  font-size: 10px;
  line-height: 13px;
  height: 14px;
  width: 14px;
  border: 1px solid #6f7d8c;
  border-radius: 7px;
  background-color: red;
  color: white;
  cursor: pointer;
  transition: 0.2s background-color ease;
  display: none;
}

.feeling-content:hover > .delete-post {
  display: block;
}

.delete-post:hover {
  background-color: darkred;
}

@media screen and (max-width: 768px) {
  .App {
    width: 100vw;
    margin: 0;
    padding: 0;
  }

  .reactions {
    
  }

  .feeling-feed {
    margin-bottom: 5rem;
  }

  .current-user-panel {
    position: fixed;
    left: 0;
    bottom: 0;
    top: initial;
    width: 100vw;
    padding-top: 0.5em;
    margin: 0;
    height: 5rem;
    background-color: white;
    border-top: 1px solid silver;
  }

  .user-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .feedback-button-container {
    margin-left: 1em;
  }

  .add-new-post {
    width: 100%;
  }

  .new-post-options {
    width: 100%;
    justify-content: space-around;
  }

  .new-post-options .feeling-content {
    margin: 0;
  }
}
